.videobox {
    width: 1404px;
    height: 548px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;

    .commtitle {
      height: 32px;
      width: 100%;
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;
      padding-right: 14px;

      .titleleft {
        display: flex;
        align-items: center;

        .titleicon {
          width: 7px;
          height: 28px;
          background: #347AF0;
        }

        .titleword {
          font-family: Microsoft YaHei;
          font-weight: bold;
          font-size: 24px;
          color: #1F1F1F;
          margin-left: 8px;
        }
      }


      .titleright {
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        font-family: Microsoft YaHei;
        font-weight: 400;
        font-size: 18px;
        color: #A5A5A5;
      }
    }

    .video_left {
      height: 100%;
      width: 904px;
      display: flex;
      flex-flow: column;

      .somevideo {
        width: 904px;
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .videos {
          width: 904px;
          height: 242px;
          display: flex;
          justify-content: space-between;

          .speacevide {
            width: 286px;
            height: 242px;

            .imgbox {
              cursor: pointer;
              width: 286px;
              height: 166px;
              overflow: hidden;
              border-radius: 15px 15px 0 0;
              position: relative;
              &:hover{
                .playimg{
                  transform: scale(1.2);
                }
              }
              .playimg {
                display: block;
                width: 286px;
                height: 166px;
                transition: .2s all;

               
              }
              .rightimg{
                position: absolute;
                right: 0;
                top: -1px;
                width: 70px;
                height: 70px;
                object-fit: contain;
                z-index: 10;
              }
            }

            .videotitle {
              width: 286px;
              height: 76px;
              padding-top: 10px;
              padding-left: 4px;
              background: #FFFFFF;
              border-radius: 0 0 15px 15px;

              .videoword {
                cursor: pointer;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-family: Microsoft YaHei;
                font-weight: 400;
                font-size: 16px;
                color: #272727;

                &:hover {
                  color: #347AF0;
                }
              }

              .looknumber {
                cursor: pointer;
                font-family: Microsoft YaHei;
                font-weight: 400;
                font-size: 14px;
                color: #BEBEBE;

                .svg-icon {
                  position: relative;
                  top: -2px;
                  font-size: 26px;
                }
              }
            }
          }
        }
      }

    }

    .video_right {
      height: 100%;
      width: 476px;
      display: flex;
      flex-flow: column;

      .commtitle {
        padding-right: 0;
      }

      .goodvideo {

        width: 100%;
        flex: 1;
        padding: 18px 18px 18px 22px;
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .bigonevideo {
          cursor: pointer;
          height: 172px;
          padding: 0 16px 0 10px;
          background: #F7F8FA;
          display: flex;
          justify-content: space-between;
          transition: all linear 0.4s;

          .left {
            flex: 1;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            .top {
              display: flex;

              .userbox {
                height: 50px;
                width: 50px;
                margin-top: 16px;
                margin-right: 8px;

                img {
                  border-radius: 50%;
                  width: 100%;
                }
              }

              .userinfo {
                margin-top: 14px;

                p {
                  font-size: 16px;
                  font-weight: 700;
                  color: #333;
                }

                .ms {
                  padding: 0 8px;
                  height: 18px;
                  line-height: 18px;
                  background: #347AF0;
                  border-radius: 8px;
                  font-size: 14px;
                  color: #fff;
                  margin-top: 6px;
                  display: inline-block;
                  font-style: inherit;
                }
              }
            }

            .bottom {
              padding: 0 8px 6px 10px;
              display: flex;
              justify-content: space-between;

              .word {
                height: 42px;
                line-height: 42px;
                font-weight: 400;
                font-size: 12px;
                color: #AFAFAF;
              }

              .imgbox {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 36px
              }
            }
          }

          .right {
            display: block;
            padding: 16px 0;
            width: 250px;
            height: 100%;
          }
        }

        .onevideo {
          cursor: pointer;
          padding: 0 26px;
          padding-right: 20px;
          height: 60px;
          background: #F7F8FA;
          display: flex;
          justify-content: space-between;
          transition: all linear 0.4s;

          .left {
            height: 64px;
            display: flex;

            .userbox {
              height: 40px;
              width: 40px;
              margin-top: 12px;
              margin-right: 8px;

              img {
                border-radius: 50%;
                width: 100%;
              }
            }

            .userinfo {
              margin-top: 10px;

              p {
                font-size: 14px;
                font-weight: 700;
                color: #333;
              }

              .ms {
                padding: 0 8px;
                height: 16px;
                line-height: 16px;
                background: #347AF0;
                border-radius: 8px;
                font-size: 12px;
                color: #fff;
                margin-top: 4px;
                display: inline-block;
                font-style: inherit;
              }
            }
          }

          .right {
            height: 64px;
            display: flex;

            .word {
              height: 64px;
              line-height: 64px;
              font-weight: 400;
              font-size: 12px;
              color: #AFAFAF;
            }

            .imgbox {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 42px;
            }
          }
        }
      }
    }
  }